---
http_interactions:
- request:
    method: get
    uri: https://www.trade-tariff.service.gov.uk/api/v2/search?q=xyzzy12345nonsense
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Old-Path:
      - "/api/v2/search"
      X-Path-Transformed:
      - 'true'
      Etag:
      - W/"950231491983260c3114d301178e0116"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1","type":"fuzzy_search","attributes":{"type":"fuzzy_match","goods_nomenclature_match":{"chapters":[],"commodities":[],"headings":[],"sections":[]},"reference_match":{"chapters":[],"commodities":[],"headings":[],"sections":[]}}}}'
  recorded_at: Sat, 17 Jan 2026 22:49:06 GMT
recorded_with: VCR 6.4.0
