---
http_interactions:
- request:
    method: get
    uri: https://www.trade-tariff.service.gov.uk/api/v2/search?q=cotton%20t-shirt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Old-Path:
      - "/api/v2/search"
      X-Path-Transformed:
      - 'true'
      Etag:
      - W/"d8d822c9f8c3858581a8d072cccd885d"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1","type":"fuzzy_search","attributes":{"type":"fuzzy_match","goods_nomenclature_match":{"chapters":[],"commodities":[{"_index":"tariff-commodities-uk","_id":"99290","_score":24.782965,"_source":{"id":99290,"goods_nomenclature_item_id":"6109100010","producline_suffix":"80","validity_start_date":"2015-03-10T00:00:00.000Z","validity_end_date":null,"description":"T-shirts","description_indexed":"t-shirts
        of cotton t-shirts, singlets and other vests, knitted or crocheted articles
        of apparel and clothing accessories, knitted or crocheted","number_indents":2,"declarable":true,"ancestor_descriptions":["ARTICLES
        OF APPAREL AND CLOTHING ACCESSORIES, KNITTED OR CROCHETED","T-shirts, singlets
        and other vests, knitted or crocheted","Of cotton","T-shirts"],"section":{"numeral":"XI","title":"Textiles
        and textile articles","position":11},"chapter":{"goods_nomenclature_sid":42796,"goods_nomenclature_item_id":"6100000000","producline_suffix":"80","validity_start_date":"1971-12-31T00:00:00.000Z","validity_end_date":null,"description":"Articles
        of apparel and clothing accessories, knitted or crocheted","guides":[]},"heading":{"goods_nomenclature_sid":42978,"goods_nomenclature_item_id":"6109000000","producline_suffix":"80","validity_start_date":"1972-01-01T00:00:00.000Z","validity_end_date":null,"description":"T-shirts,
        singlets and other vests, knitted or crocheted","number_indents":0}}},{"_index":"tariff-commodities-uk","_id":"42979","_score":20.682287,"_source":{"id":42979,"goods_nomenclature_item_id":"6109100000","producline_suffix":"80","validity_start_date":"1972-01-01T00:00:00.000Z","validity_end_date"[...]
